USE [master]
GO
/****** Object:  Database [DB_Inventario]    Script Date: 13/09/2021 03:25:30 p. m. ******/
CREATE DATABASE [DB_Inventario]
 CONTAINMENT = NONE
 ON  PRIMARY 
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_Inventario].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_Inventario]
GO
/****** Object:  Table [dbo].[marca]    Script Date: 13/09/2021 03:25:30 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[marca](
	[id_marca] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_marca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[presentacion]    Script Date: 13/09/2021 03:25:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[presentacion](
	[id_presentacion] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_presentacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[producto]    Script Date: 13/09/2021 03:25:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producto](
	[id_producto] [int] IDENTITY(1,1) NOT NULL,
	[id_marca] [int] NULL,
	[id_presentacion] [int] NULL,
	[id_proveedor] [int] NULL,
	[id_zona] [int] NULL,
	[codigo] [int] NULL,
	[descripcion_producto] [varchar](1000) NULL,
	[precio] [float] NOT NULL,
	[stock] [int] NOT NULL,
	[iva] [int] NULL,
	[peso] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[proveedor]    Script Date: 13/09/2021 03:25:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[proveedor](
	[id_proveedor] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[zona]    Script Date: 13/09/2021 03:25:31 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[zona](
	[id_zona] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_zona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[marca] ADD  DEFAULT (NULL) FOR [descripcion]
GO
ALTER TABLE [dbo].[presentacion] ADD  DEFAULT (NULL) FOR [descripcion]
GO
ALTER TABLE [dbo].[producto] ADD  DEFAULT (NULL) FOR [codigo]
GO
ALTER TABLE [dbo].[producto] ADD  DEFAULT (NULL) FOR [descripcion_producto]
GO
ALTER TABLE [dbo].[producto] ADD  DEFAULT (NULL) FOR [iva]
GO
ALTER TABLE [dbo].[producto] ADD  DEFAULT (NULL) FOR [peso]
GO
ALTER TABLE [dbo].[proveedor] ADD  DEFAULT (NULL) FOR [descripcion]
GO
ALTER TABLE [dbo].[zona] ADD  DEFAULT (NULL) FOR [descripcion]
GO
ALTER TABLE [dbo].[producto]  WITH CHECK ADD FOREIGN KEY([id_marca])
REFERENCES [dbo].[marca] ([id_marca])
GO
ALTER TABLE [dbo].[producto]  WITH CHECK ADD FOREIGN KEY([id_presentacion])
REFERENCES [dbo].[presentacion] ([id_presentacion])
GO
ALTER TABLE [dbo].[producto]  WITH CHECK ADD FOREIGN KEY([id_proveedor])
REFERENCES [dbo].[proveedor] ([id_proveedor])
GO
ALTER TABLE [dbo].[producto]  WITH CHECK ADD FOREIGN KEY([id_zona])
REFERENCES [dbo].[zona] ([id_zona])
GO
USE [master]
GO
